In [1]:
pip install git+https://github.com/tensorflow/docs

Collecting git+https://github.com/tensorflow/docs
  Cloning https://github.com/tensorflow/docs to /tmp/pip-req-build-m9v9g9hr
  Running command git clone -q https://github.com/tensorflow/docs /tmp/pip-req-build-m9v9g9hr
Requirement already satisfied: astor in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (0.8.1)
Requirement already satisfied: absl-py in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (0.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (1.12.0)
Collecting pathlib2
  Downloading https://files.pythonhosted.org/packages/e9/45/9c82d3666af4ef9f221cbb954e1d77ddbb513faf552aea6df5f37f1a4859/pathlib2-2.3.5-py2.py3-none-any.whl
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (3.13)
Building wheels for collected packages: tensorflow-docs
  Building wheel for tensorflow-docs (setup.py) ... done
  Created wheel for tensorflow-docs: filename=tensorflow_docs-0.0.0-cp36-none-any.whl size=80383 sha256=a8c85adb35bc23ce661c364c7b91572bf9df2db813f28a8f26784affe59f563e
  Stored in directory: /tmp/pip-ephem-wheel-cache-59fzv_fr/wheels/eb/1b/35/fce87697be00d2fc63e0b4b395b0d9c7e391a10e98d9a0d97f
Successfully built tensorflow-docs
Installing collected packages: pathlib2, tensorflow-docs
Successfully installed pathlib2-2.3.5 tensorflow-docs-0.0.0

In [2]:
import pandas as pd
from sklearn import preprocessing 
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt
import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

In [3]:
df = pd.read_excel("Train_dataset.xlsx")
df.tail()

       people_ID     Region Gender  ...   salary FT/month Infect_Prob
10709      22691  Bengaluru   Male  ...   300000      0.0   41.981760
10710      22692  Bengaluru   Male  ...   700000      NaN   47.148663
10711      22693  Bengaluru   Male  ...  2100000      2.0   47.708533
10712      22694  Bengaluru   Male  ...   700000      1.0   53.803565
10713      22695  Bengaluru   Male  ...  1400000      0.0   68.342400

[5 rows x 28 columns]

In [4]:
df.isna().sum()

people_ID                    0
Region                       0
Gender                       0
Designation                  0
Name                        20
Married                      0
Children                   311
Occupation                 747
Mode_transport               3
cases/1M                     0
Deaths/1M                    0
comorbidity                226
Age                          0
Coma score                   0
Pulmonary score              0
cardiological pressure      97
Diuresis                   716
Platelets                  924
HBB                         16
d-dimer                   1114
Heart rate                1114
HDL cholesterol             35
Charlson Index               0
Blood Glucose                0
Insurance                 1090
salary                       0
FT/month                   723
Infect_Prob                  0
dtype: int64

In [0]:
df = df.dropna()  #dropping all rows with missing values. - data cleaning

In [6]:
df.tail()

       people_ID     Region Gender  ...   salary FT/month Infect_Prob
10708      22690  Bengaluru   Male  ...  1400000      2.0   53.741750
10709      22691  Bengaluru   Male  ...   300000      0.0   41.981760
10711      22693  Bengaluru   Male  ...  2100000      2.0   47.708533
10712      22694  Bengaluru   Male  ...   700000      1.0   53.803565
10713      22695  Bengaluru   Male  ...  1400000      0.0   68.342400

[5 rows x 28 columns]

In [0]:
output =np.array(df.loc[:,"Infect_Prob"])

In [0]:
for i in range(len(output)):
  output[i] = output[i]/100

In [9]:
output

array([0.4913501 , 0.73224   , 0.48779225, ..., 0.47708533, 0.53803565,
       0.683424  ])

In [0]:
df = df.drop('Infect_Prob', axis=1)
df = df.drop('people_ID',axis=1)

In [0]:
#df1 = pd.get_dummies(df['Region'],prefix='Region')
#df = pd.concat([df,df1],axis =1)
catg = ['Mode_transport', 'comorbidity', 'cardiological pressure','Pulmonary score'] #catagorical data
for i in range(4):
  df1 = pd.get_dummies(df[catg[i]],prefix=catg[i])
  df = pd.concat([df,df1],axis =1)
  df = df.drop(catg[i],axis=1)
df = df.drop(['Designation','Name','Region','Occupation'],axis = 1)  #redundant data- we remove this to make the model more effecient 
label_encoder = preprocessing.LabelEncoder()
df['Married'] = label_encoder.fit_transform(df['Married'])  #label encoding
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [12]:
stats = df.describe()
stats = stats.transpose()
stats

                                     count          mean  ...        75%        max
Gender                              6777.0  4.980080e-01  ...        1.0        1.0
Married                             6777.0  7.761546e-01  ...        1.0        1.0
Children                            6777.0  1.001180e+00  ...        2.0        2.0
cases/1M                            6777.0  3.299985e+00  ...        4.0        8.0
Deaths/1M                           6777.0  5.233879e-01  ...        1.0        2.0
Age                                 6777.0  4.277438e+01  ...       55.0       68.0
Coma score                          6777.0  9.021691e+00  ...       12.0       15.0
Diuresis                            6777.0  2.784809e+02  ...      365.0      450.0
Platelets                           6777.0  8.734071e+01  ...      124.0      160.0
HBB                                 6777.0  1.153360e+02  ...      164.0      210.0
d-dimer                             6777.0  2.754179e+02  ...      313.0      350.0
Heart rate                          6777.0  7.474502e+01  ...       88.0      100.0
HDL cholesterol                     6777.0  5.277925e+01  ...       62.0       70.0
Charlson Index                      6777.0  2.005460e+01  ...       30.0       40.0
Blood Glucose                       6777.0  5.014756e+00  ...        6.0        7.0
Insurance                           6777.0  2.644371e+06  ...  3800000.0  5000000.0
salary                              6777.0  1.308322e+06  ...  1800000.0  2300000.0
FT/month                            6777.0  1.011067e+00  ...        2.0        2.0
Mode_transport_Car                  6777.0  3.261030e-01  ...        1.0        1.0
Mode_transport_Public               6777.0  3.289066e-01  ...        1.0        1.0
Mode_transport_Walk                 6777.0  3.449904e-01  ...        1.0        1.0
comorbidity_Coronary Heart Disease  6777.0  2.512911e-01  ...        1.0        1.0
comorbidity_Diabetes                6777.0  2.486351e-01  ...        0.0        1.0
comorbidity_Hypertension            6777.0  2.499631e-01  ...        0.0        1.0
comorbidity_None                    6777.0  2.501107e-01  ...        1.0        1.0
cardiological pressure_Elevated     6777.0  2.530618e-01  ...        1.0        1.0
cardiological pressure_Normal       6777.0  2.532094e-01  ...        1.0        1.0
cardiological pressure_Stage-01     6777.0  2.467168e-01  ...        0.0        1.0
cardiological pressure_Stage-02     6777.0  2.470120e-01  ...        0.0        1.0
Pulmonary score_<100                6777.0  2.470120e-01  ...        0.0        1.0
Pulmonary score_<200                6777.0  2.467168e-01  ...        0.0        1.0
Pulmonary score_<300                6777.0  2.530618e-01  ...        1.0        1.0
Pulmonary score_<400                6777.0  2.532094e-01  ...        1.0        1.0

[33 rows x 8 columns]

In [0]:
def build_model():   # we change and tune the hyper parameters of this model to give least loss
  model = keras.models.Sequential()
  model.add(layers.Dense(128,input_shape=(33,)))
  #model.add(layers.Dropout(0.1))
  model.add(layers.Dense(128,activation='relu'))
  model.add(layers.Dropout(0.2))
  model.add(layers.Dense(64,activation = 'relu'))
  model.add(layers.Dropout(0.2))
  model.add(layers.Dense(32,activation = 'relu'))
  model.add(layers.Dense(1, activation = 'sigmoid'))
  model.compile(optimizer='adam', loss= 'mse')
  return model

In [14]:
model = build_model()
model.summary()

WARNING:tensorflow:From /tensorflow-1.15.0/python3.6/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /tensorflow-1.15.0/python3.6/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               4352
_________________________________________________________________
dense_1 (Dense)              (None, 128)               16512
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 64)                8256
_________________________________________________________________
dropout_1 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_3 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 33
=================================================================
Total params: 31,233
Trainable params: 31,233
Non-trainable params: 0
_________________________________________________________________

In [0]:
#ex = df[:10]
#ex_r = model.predict(ex)
#ex_r

In [16]:
def norm(x):
  return ((x - stats['mean']) / stats['std'])
norm_data = norm(df)
norm_data.tail()

         Gender   Married  ...  Pulmonary score_<300  Pulmonary score_<400
10708  1.003918  0.536992  ...             -0.582021             -0.582249
10709  1.003918 -1.861950  ...             -0.582021              1.717226
10711  1.003918  0.536992  ...             -0.582021             -0.582249
10712  1.003918  0.536992  ...              1.717896             -0.582249
10713  1.003918 -1.861950  ...             -0.582021              1.717226

[5 rows x 33 columns]

In [17]:
EPOCHS = 1000
history = model.fit(norm_data,output,epochs=EPOCHS, validation_split = 0.2, verbose=0,callbacks=[tfdocs.modeling.EpochDots()])
# we give a validation set to avoid over-fitting

Epoch: 0, acc:0.0000,  loss:0.6914,  val_acc:0.0000,  val_loss:0.6852,
....................................................................................................
Epoch: 100, acc:0.0000,  loss:0.6712,  val_acc:0.0000,  val_loss:0.6913,
....................................................................................................
Epoch: 200, acc:0.0000,  loss:0.6699,  val_acc:0.0000,  val_loss:0.6927,
....................................................................................................
Epoch: 300, acc:0.0000,  loss:0.6696,  val_acc:0.0000,  val_loss:0.6912,
....................................................................................................
Epoch: 400, acc:0.0000,  loss:0.6685,  val_acc:0.0000,  val_loss:0.6917,
....................................................................................................
Epoch: 500, acc:0.0000,  loss:0.6682,  val_acc:0.0000,  val_loss:0.6896,
....................................................................................................
Epoch: 600, acc:0.0000,  loss:0.6686,  val_acc:0.0000,  val_loss:0.6903,
....................................................................................................
Epoch: 700, acc:0.0000,  loss:0.6684,  val_acc:0.0000,  val_loss:0.6919,
....................................................................................................
Epoch: 800, acc:0.0000,  loss:0.6682,  val_acc:0.0000,  val_loss:0.6913,
....................................................................................................
Epoch: 900, acc:0.0000,  loss:0.6682,  val_acc:0.0000,  val_loss:0.6896,
....................................................................................................

Accuracy stays zero because we are trying to REGRESS the probability of infection and not classify people.

In [0]:
#Data set cleaning for Test data
dft = pd.read_excel("Test_dataset.xlsx")
pid =np.array(dft.loc[:,"people_ID"])
pid =pd.DataFrame(pid)
dft = dft.drop('people_ID',axis=1)

In [0]:
catg = ['Mode_transport', 'comorbidity', 'cardiological pressure','Pulmonary score']
for i in range(4):
  df1 = pd.get_dummies(dft[catg[i]],prefix=catg[i])
  dft = pd.concat([dft,df1],axis =1)
  dft = dft.drop(catg[i],axis=1)
dft = dft.drop(['Region','Designation','Name','Occupation'],axis = 1)

In [0]:
label_encoder = preprocessing.LabelEncoder()
dft['Married'] = label_encoder.fit_transform(dft['Married'])
dft['Gender'] = label_encoder.fit_transform(dft['Gender'])

In [35]:
norm_test = norm(dft)
norm_test.tail()
# we use the statistics of the training data set for the test data set too.

         Gender   Married  ...  Pulmonary score_<300  Pulmonary score_<400
14493  1.003918  0.536992  ...             -0.582021              1.717226
14494 -0.995950  0.536992  ...              1.717896             -0.582249
14495  1.003918  0.536992  ...              1.717896             -0.582249
14496 -0.995950  0.536992  ...             -0.582021             -0.582249
14497 -0.995950  0.536992  ...             -0.582021             -0.582249

[5 rows x 33 columns]

In [0]:
predicted = model.predict(norm_test)

In [37]:
type(predicted)

numpy.ndarray

In [38]:
print(predicted)
for i in range (len(predicted)):
  predicted[i] = predicted[i] * 100
predicted= pd.DataFrame(predicted)
predicted = pd.concat([pid,predicted],axis=1)
predicted.to_csv("results.csv")

[[0.50628626]
 [0.5164933 ]
 [0.53277236]
 ...
 [0.45850566]
 [0.4606093 ]
 [0.4609647 ]]